body{
    background-color: rgb(1, 68, 1);
    color: white;
     font-family: "Meow Script", cursive;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     margin: 0;
}

button{
    background-color: rgb(38, 158, 38);
}